.shadow-sm {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.shadow-md {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.shadow-lg {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.w-5 {
  width: 5%;
}

.h-5 {
  height: 5%;
}

.w-10 {
  width: 10%;
}

.h-10 {
  height: 10%;
}

.w-15 {
  width: 15%;
}

.h-15 {
  height: 15%;
}

.w-20 {
  width: 20%;
}

.h-20 {
  height: 20%;
}

.w-25 {
  width: 25%;
}

.h-25 {
  height: 25%;
}

.w-30 {
  width: 30%;
}

.h-30 {
  height: 30%;
}

.w-35 {
  width: 35%;
}

.h-35 {
  height: 35%;
}

.w-40 {
  width: 40%;
}

.h-40 {
  height: 40%;
}

.w-45 {
  width: 45%;
}

.h-45 {
  height: 45%;
}

.w-50 {
  width: 50%;
}

.h-50 {
  height: 50%;
}

.w-55 {
  width: 55%;
}

.h-55 {
  height: 55%;
}

.w-60 {
  width: 60%;
}

.h-60 {
  height: 60%;
}

.w-65 {
  width: 65%;
}

.h-65 {
  height: 65%;
}

.w-70 {
  width: 70%;
}

.h-70 {
  height: 70%;
}

.w-75 {
  width: 75%;
}

.h-75 {
  height: 75%;
}

.w-80 {
  width: 80%;
}

.h-80 {
  height: 80%;
}

.w-85 {
  width: 85%;
}

.h-85 {
  height: 85%;
}

.w-90 {
  width: 90%;
}

.h-90 {
  height: 90%;
}

.w-95 {
  width: 95%;
}

.h-95 {
  height: 95%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.px-0 {
  padding: 0;
}

.mx-0 {
  margin: 0;
}

.px-1 {
  padding: 0.25rem;
}

.mx-1 {
  margin: 0.25rem;
}

.px-2 {
  padding: 0.5rem;
}

.mx-2 {
  margin: 0.5rem;
}

.px-3 {
  padding: 1rem;
}

.mx-3 {
  margin: 1rem;
}

.px-4 {
  padding: 1.5rem;
}

.mx-4 {
  margin: 1.5rem;
}

.px-5 {
  padding: 3rem;
}

.mx-5 {
  margin: 3rem;
}

.px-auto {
  padding: auto;
}

.mx-auto {
  margin: auto;
}

.fs-1 {
  font-size: calc(1.375rem + 1.5vw);
}

.h1 {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: bold;
}

.fs-2 {
  font-size: calc(1.375rem + 0.9vw);
}

.h2 {
  font-size: calc(1.375rem + 0.9vw);
  font-weight: bold;
}

.fs-3 {
  font-size: calc(1.3rem + 0.6vw);
}

.h3 {
  font-size: calc(1.3rem + 0.6vw);
  font-weight: bold;
}

.fs-4 {
  font-size: calc(1.275rem + 0.3vw);
}

.h4 {
  font-size: calc(1.275rem + 0.3vw);
  font-weight: bold;
}

.fs-5 {
  font-size: 1.25rem;
}

.h5 {
  font-size: 1.25rem;
  font-weight: bold;
}

.fs-6 {
  font-size: 1rem;
}

.h6 {
  font-size: 1rem;
  font-weight: bold;
}

.text-nowrap {
  white-space: nowrap;
}

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

@media (min-width: 576px) {
  .text-sm-start {
    text-align: start;
  }
}

@media (min-width: 768px) {
  .text-md-start {
    text-align: start;
  }
}

@media (min-width: 992px) {
  .text-lg-start {
    text-align: start;
  }
}

@media (min-width: 1200px) {
  .text-xl-start {
    text-align: start;
  }
}

@media (min-width: 576px) {
  .text-sm-center {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .text-md-center {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .text-lg-center {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .text-xl-center {
    text-align: center;
  }
}

@media (min-width: 576px) {
  .text-sm-end {
    text-align: end;
  }
}

@media (min-width: 768px) {
  .text-md-end {
    text-align: end;
  }
}

@media (min-width: 992px) {
  .text-lg-end {
    text-align: end;
  }
}

@media (min-width: 1200px) {
  .text-xl-end {
    text-align: end;
  }
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-grid {
  display: grid;
}

.d-table {
  display: table;
}

.d-table-cell {
  display: table-cell;
}

.d-table-row {
  display: table-row;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.btn-primary {
  background-color: #3880ff;
}

.btn-secondary {
  background-color: #5260ff;
}

.btn-tertiary {
  background-color: #5260ff;
}

.btn-success {
  background-color: #2dd36f;
}

.btn-warning {
  background-color: #ffc409;
}

.btn-danger {
  background-color: #eb445a;
}

.btn-medium {
  background-color: #92949c;
}

.btn-light {
  background-color: #f4f5f8;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 5px 16px;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
  border-radius: 6px;
}

.btn-large {
  padding: 0.75em 1.5em;
  font-size: inherit;
  line-height: 1.5;
  border-radius: 0.5em;
}

.btn-small {
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.btn-link {
  display: inline-block;
  padding: 0;
  font-size: inherit;
  color: #0969da;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

[aria-disabled=true] {
  opacity: 0.6;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-justify-start {
  justify-content: start;
}

.flex-justify-end {
  justify-content: end;
}

.flex-justify-center {
  justify-content: center;
}

.flex-items-start {
  align-items: start;
}

.flex-items-end {
  align-items: end;
}

.flex-items-center {
  align-items: center;
}

.flex-items-baseline {
  align-items: baseline;
}

.flex-items-stretch {
  align-items: stretch;
}

.flex-content-start {
  align-content: start;
}

.flex-content-end {
  align-content: end;
}

.flex-content-center {
  align-content: center;
}

.flex-content-stretch {
  align-content: stretch;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-around {
  justify-content: space-around;
}

.flex-content-between {
  align-content: space-between;
}

.flex-content-around {
  align-content: space-around;
}

@media (min-width: 576px) {
  .flex-justify-sm-start {
    justify-content: start;
  }
}
@media (min-width: 576px) {
  .flex-justify-sm-end {
    justify-content: end;
  }
}
@media (min-width: 576px) {
  .flex-justify-sm-center {
    justify-content: center;
  }
}
@media (min-width: 576px) {
  .flex-justify-sm-around {
    justify-content: space-around;
  }
  .flex-justify-sm-between {
    justify-content: space-between;
  }
  .flex-content-sm-around {
    justify-content: space-around;
  }
  .flex-content-sm-between {
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .flex-justify-md-start {
    justify-content: start;
  }
}
@media (min-width: 768px) {
  .flex-justify-md-end {
    justify-content: end;
  }
}
@media (min-width: 768px) {
  .flex-justify-md-center {
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .flex-justify-md-around {
    justify-content: space-around;
  }
  .flex-justify-md-between {
    justify-content: space-between;
  }
  .flex-content-md-around {
    justify-content: space-around;
  }
  .flex-content-md-between {
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .flex-justify-lg-start {
    justify-content: start;
  }
}
@media (min-width: 992px) {
  .flex-justify-lg-end {
    justify-content: end;
  }
}
@media (min-width: 992px) {
  .flex-justify-lg-center {
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .flex-justify-lg-around {
    justify-content: space-around;
  }
  .flex-justify-lg-between {
    justify-content: space-between;
  }
  .flex-content-lg-around {
    justify-content: space-around;
  }
  .flex-content-lg-between {
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .flex-justify-xl-start {
    justify-content: start;
  }
}
@media (min-width: 1200px) {
  .flex-justify-xl-end {
    justify-content: end;
  }
}
@media (min-width: 1200px) {
  .flex-justify-xl-center {
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .flex-justify-xl-around {
    justify-content: space-around;
  }
  .flex-justify-xl-between {
    justify-content: space-between;
  }
  .flex-content-xl-around {
    justify-content: space-around;
  }
  .flex-content-xl-between {
    justify-content: space-between;
  }
}
.col-1 {
  width: 8.3333333333%;
}

@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%;
  }
}

.col-2 {
  width: 8.3333333333%;
}

@media (min-width: 576px) {
  .col-sm-2 {
    width: 8.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-2 {
    width: 8.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-2 {
    width: 8.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-2 {
    width: 8.3333333333%;
  }
}

.col-3 {
  width: 8.3333333333%;
}

@media (min-width: 576px) {
  .col-sm-3 {
    width: 8.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-3 {
    width: 8.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-3 {
    width: 8.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-3 {
    width: 8.3333333333%;
  }
}

.col-4 {
  width: 8.3333333333%;
}

@media (min-width: 576px) {
  .col-sm-4 {
    width: 8.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    width: 8.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-4 {
    width: 8.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-4 {
    width: 8.3333333333%;
  }
}

.col-5 {
  width: 8.3333333333%;
}

@media (min-width: 576px) {
  .col-sm-5 {
    width: 8.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-5 {
    width: 8.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-5 {
    width: 8.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-5 {
    width: 8.3333333333%;
  }
}

.col-6 {
  width: 8.3333333333%;
}

@media (min-width: 576px) {
  .col-sm-6 {
    width: 8.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    width: 8.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-6 {
    width: 8.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-6 {
    width: 8.3333333333%;
  }
}

.col-7 {
  width: 8.3333333333%;
}

@media (min-width: 576px) {
  .col-sm-7 {
    width: 8.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-7 {
    width: 8.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-7 {
    width: 8.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-7 {
    width: 8.3333333333%;
  }
}

.col-8 {
  width: 8.3333333333%;
}

@media (min-width: 576px) {
  .col-sm-8 {
    width: 8.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-8 {
    width: 8.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-8 {
    width: 8.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-8 {
    width: 8.3333333333%;
  }
}

.col-9 {
  width: 8.3333333333%;
}

@media (min-width: 576px) {
  .col-sm-9 {
    width: 8.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-9 {
    width: 8.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-9 {
    width: 8.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-9 {
    width: 8.3333333333%;
  }
}

.col-10 {
  width: 8.3333333333%;
}

@media (min-width: 576px) {
  .col-sm-10 {
    width: 8.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-10 {
    width: 8.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-10 {
    width: 8.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-10 {
    width: 8.3333333333%;
  }
}

.col-11 {
  width: 8.3333333333%;
}

@media (min-width: 576px) {
  .col-sm-11 {
    width: 8.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-11 {
    width: 8.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-11 {
    width: 8.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-11 {
    width: 8.3333333333%;
  }
}

.col-12 {
  width: 8.3333333333%;
}

@media (min-width: 576px) {
  .col-sm-12 {
    width: 8.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-12 {
    width: 8.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-12 {
    width: 8.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-12 {
    width: 8.3333333333%;
  }
}

@media (min-width: 576px) {
  .flex-sm-row {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .flex-md-row {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .flex-lg-row {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .flex-xl-row {
    flex-direction: row;
  }
}/*# sourceMappingURL=main.css.map */