$colors: (
    "primary": #5E17EB,

    "secondary": #7A29E3,

    "tertiary": #9F67EC,

    "success": #2dd36f,

    "warning": #ffc409,

    "danger": #eb445a,

    "medium": #B287F1,

    "light": #E8D9FC,

    "dark": #3B1568,

    "gray": #e5e5e5b0
) !default;

$color-header:#FFF !default;

$color-icon:#FFF !default;