 @use '../variables/colors' as *;
 @use '../layouts/grid' as *;
 @use '../base/spacing' as *;
 @use '../base/typography' as *;
$accordion-padding-x: 1.25rem !default;
$accordion-padding-y: 1rem !default;
$accordion-color:$body-color !default;
$accordion-bg:$bg-color !default;
/*
Tree Structurec
.accordion
    .accordion-header
    .accordion-item: div
        .accordion-title: p
        .accordion-content (.expanded): ul
            .content-link: li
    .accordion-item: div
        .accordion-title: p
        .accordion-content (.expanded): ul
            .content-link: li
*/
.accordion {
    @extend .flex-col;
    > * {
        @extend .px-y-1;
    }
    background-color: $accordion-bg-color;

    height: 100%;
    padding:0;
    color:$accordion-color;
    //TODO: uncomment
    // background-color: $accordion-bg;
    background-color: gray;
 
 } 
.accordion-header{
    @extend .h4;
}
.accordion-item {
    height:100%;
    width:100%;
}
.accordion-title {
    @extend .h6;
    cursor: pointer;

}
.accordion-content {
    visibility: hidden;
    height:0;
    padding:5px;
    @extend .flex-col;
}

.accordion-content.expanded {
    visibility: visible;
    height:initial;
    animation: slide-in-fwd-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    padding-top:$accordion-content-padding-y;
    padding-bottom:$accordion-content-padding-y;
    padding-left:$accordion-content-padding-x;
    padding-right:$accordion-content-padding-x;

    > * {
        @extend .mx-y-1;
    }

    > .content-link {
        cursor:pointer;
    }
}

@keyframes slide-in-fwd-center {
    0% {
        transform: translateZ(-1400px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}
