@use '../variables/carousel' as *;

.carousel
{
    position: relative;
    margin: 0;
    padding: 0;
    width: $carousel-width;
    overflow: hidden;
    border-radius: $carousel-radius;
    background-color: $carousel-bg-color;
    height: $carousel-height;
}

.carousel-indicators
{
    @extend .carousel;
}

.carousel-inner
{
    text-align: -webkit-center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;


}

.carousel-item
{

    // position: relative;
    // align-items: center;
    // display: flex;
    // flex-direction: column;
    // flex-wrap: nowrap;

}

.carousel-item:not(.active)
{
    visibility: hidden;
    width: 0;
    height: 0;
}

.carousel-item:not(.active).slidein
{
    visibility: hidden;
    width: 0;
    height: 0;
    transform: translateX(-100px);
}

.carousel-item:not(.active).slideout
{
    visibility: hidden;
    width: 0;
    height: 0;
    transform: translateX(100px);
}

.carousel-item.active
{
    visibility: visible;

    height: $carousel-height;

    transition: transform $carousel-transition-duration;
    transform: translateX(0);


}

.carousel-image
{
    object-fit: cover;
    height: $carousel-image-height;
    width: $carousel-width;
}

.carousel-caption
{
    // if within a carousel item, the carousel will have a caption
    width: 100%;
    color: $carousel-caption-color;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $carousel-caption-height
}

@mixin carousel-control-item
{
    border: none;
    background-color: transparent;
    margin: 0 $carousel-control-icon-margin;
    cursor: pointer;
    opacity: $carousel-control-opacity;
    height: 100%;
}

@mixin carousel-control-icon
{
    display: block;
    background-repeat: no-repeat;
    width: $carousel-control-icon-width;
    height: $carousel-control-icon-width;
 }

//Controls
.carousel-control
{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel-control-prev,
.carousel-control-next
{
    @include carousel-control-item;
}

.carousel-control-prev-icon
{
    @include carousel-control-icon;
    background-image: $carousel-control-prev-icon-bg;
}

.carousel-control-next-icon
{
    @include carousel-control-icon;
    background-image: $carousel-control-next-icon-bg;
}

.carousel-control-next:hover,
.carousel-control-prev:hover
{
    opacity: $carousel-control-hover-opacity;
}


//Options
.carousel.autoplay
{}

/*
Tree Structure
.carousel
    .carousel-indicators
    .carousel-inner
        .carousel-item active
            <img/>
            .carousel-caption
        .carousel-item
            <img/>
            .carousel-caption
        .carousel-item
            .carousel-caption
    .carousel-control: div
        .carousel-control-prev: button
            .carousel-control-prev-icon: span
        .carousel-control-next: button
            .carousel-control-next-icon: span


*/