.card {
    position: relative;
    display: block;
 

    overflow: auto;
    
    .card-header {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        flex-direction: row;
        background-color: map-get($colors, "gray");
        .card-title {
            margin: 0.8rem;
        }

        .card-icon {
            margin: 0.8rem;
        }
    }

    .card-image {
        margin: 0.8rem;
        width:100%;
        margin:0;
    }

    .card-content {
 
        .content {
            margin: 0.8rem;
        }
    }

    .card-footer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
         .card-footer-item {
            margin: 0.8rem 0;
        }
    }
}
