.input-sm {
    min-height: 28px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 12px;
    line-height: 20px;
}

.input-md {
}
.input-lg {
    font-size: 16px;
}

.input-block {
    display: block;
    width: 100%;
}

.form-control {
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 6px;

 
 }

.form-control:focus{
    border: none;
    outline: 1px solid rgb(197, 193, 193);
}

textarea.form-control{
    min-height: 150px;
     
}