$shadow-sm:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$shadow-md: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$shadow-lg:rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

.shadow-sm{
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.shadow-md{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


}
.shadow-lg{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;



}