@use '../abstracts/variables';
$sizes: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

@each $size in $sizes {
    .w-#{$size}{
        width: #{$size}#{unquote("%")}
    }
    .h-#{$size}{
        height: #{$size}#{unquote("%")}
    }

    @each $name, $screensize in $screen-sizes{
        $maxWidth: get-media-query-max($screensize);
        @media (max-width: $maxWidth)and (min-width: $screensize){
            .w-#{$name}-#{$size}{
                width: #{$size}#{unquote("%")}
            }
        }
    }
}

 