@use '../variables/screens' as *;
@use '../abstracts/functions' as *;
$intervals: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;



@each $size in $intervals {
    .w-#{$size} {
        width: #{$size}#{unquote("%")};
    }
    .h-#{$size} {
        height: #{$size}#{unquote("%")};
    }

    .w-max-#{$size}{
        max-width: #{$size}#{unquote("%")};
    }

    .h-max-#{$size} {
        max-height: #{$size}#{unquote("%")};
    }

    @each $name, $screensize in $screen-sizes {
        $maxWidth: get-media-query-max($screensize);
        @media (max-width: $maxWidth) and (min-width: $screensize) {
            .w-#{$name}-#{$size} {
                width: #{$size}#{unquote("%")};
            }
            .max-w-#{$name}-#{$size} {
                max-width: #{$size}#{unquote("%")};
            }
            .min-w-#{$name}-#{$size} {
                min-width: #{$size}#{unquote("%")};
            }
            .h-#{$name}-#{$size} {
                height: #{$size}#{unquote("%")};
            }
            .max-h-#{$name}-#{$size} {
                max-height: #{$size}#{unquote("%")};
            }
            .min-h-#{$name}-#{$size} {
                min-height: #{$size}#{unquote("%")};
            }
        }
    }
}
