$sizes: (
    "0":0,
    "1":calc($spacer * 0.25),
    "2":calc($spacer * 0.5),
    "3":calc($spacer),
    "4":calc($spacer * 1.5),
    "5":calc($spacer * 3),
    "auto":auto,
);


@each $name, $size in $sizes{
    .px-#{$name}{
        padding:#{$size};
    }
    .px-left-#{$name}{
        padding-left:#{$size};
    }
    .px-right-#{$name}{
        padding-right:#{$size};
    }
    .px-top-#{$name}{
        padding-top:#{$size};
    }
    .px-bottom-#{$name}{
        padding-bottom:#{$size};
    }
    .px-x-#{$name}{
        padding-left: $size;
        padding-right: $size;
    }
    .px-y-#{$name}{
        padding-top:$size;
        padding-bottom: $size;
     }

 

    .mx-#{$name}{
        margin:#{$size};
    }
    .mx-top-#{$name}{
        margin-top:#{$size};
    }
    .mx-right-#{$name}{
        margin-right:#{$size};
    }
    .mx-bottom-#{$name}{
        margin-bottom:#{$size};
    }
    .mx-left-#{$name}{
        margin-left:#{$size};
    }
    .mx-x-#{$name}{
        margin:0 #{$size};
    }
    .mx-y-#{$name}{
        margin:#{$size} 0;
    }


}
