$sizes: (
    "0":0,
    "1":calc($spacer * 0.25),
    "2":calc($spacer * 0.5),
    "3":calc($spacer),
    "4":calc($spacer * 1.5),
    "5":calc($spacer * 3),
    "auto":auto,
);


@each $name, $size in $sizes{
    .px-#{$name}{
        padding:#{$size};
    }

    .mx-#{$name}{
        margin:#{$size};
    }
}
