// ===========WRAP===========//
.flex-wrap{
    flex-wrap: wrap;
}
.flex-nowrap{
    flex-wrap: nowrap;
}


// ===========POSITIONING===========//
//Base

$justify: start, end, center;
$items: start, end, center, baseline, stretch;
$content: start, end, center, stretch;

//Justify
@each $position in $justify {
    .flex-justify-#{$position} {
        justify-content: $position;
    }
}

//Align
@each $position in $items {
    .flex-items-#{$position} {
        align-items: $position;
    }
}
@each $position in $content {
    .flex-content-#{$position} {
        align-content: $position;
    }
}

.flex-justify-between {
    justify-content: space-between;
}
.flex-justify-around {
    justify-content: space-around;
}
.flex-content-between {
    align-content: space-between;
}
.flex-content-around {
    align-content: space-around;
}


//Responsive

@each $size, $value in $screen-sizes {
    @each $position in $justify {
        @media (min-width:#{$value}) {
            .flex-justify-#{$size}-#{$position}{
                justify-content: $position;
            }
        }
    }
    @media (min-width:#{$value}) {
        .flex-justify-#{$size}-around{
            justify-content: space-around;
        }
        .flex-justify-#{$size}-between{
            justify-content: space-between;
        }
        .flex-content-#{$size}-around{
            justify-content: space-around;
        }
        .flex-content-#{$size}-between{
            justify-content: space-between;
        }
    }
}

