@use "../abstracts/functions";

//Base text elements

li {
    list-style: none;
}

a {
    color: functions.set-color($color-header);
    text-decoration: none;
    opacity: 1;
 }

a:hover {
    opacity: 0.8;
}

//**********BRAND**********
.header-brand {
    @extend .flex-justify-start;
    @extend .d-flex;

    @media (min-width: map-get($screen-sizes, "md")) {
        display: block;
    }
}

//**********BURGER**********

.header-burger {
    @extend .flex-justify-end;
    display: none;

    .nav-item {
        height: 3rem;
    }

    @media (max-width: map-get($screen-sizes, "md")) {
        display: flex;
    }
}

.header-burger.open {
    @extend .flex-justify-end;

    .nav-item {
        height: 3rem;
    }
}

//**********NAV**********

.header-nav {
    @extend .flex-row;
    justify-content: space-around;

    @media (max-width: map-get($screen-sizes, "md")) {
        display: none;
    }
}

.nav-right,
.nav-left {
    align-items: center;
    padding: 0;
    margin: 0;
    @extend .flex-row;
}

.nav-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding:0 20px;
}

.nav-icon {
    color: map-get($colors, "primary");
}

.nav-logo {
    max-width: 15rem;
    margin:10px;
}
.nav-link{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

//**********DROPDOWN**********

.dropdown-menu {
    display: flex;
    background-color: $color-header;
    border-radius: 5px;
    padding: 0;
    display: none;

    .menu-item {
        padding: 3px 20px;
    }
}

.nav-dropdown-animated {
    position: relative;
}

.nav-dropdown-animated:hover {
    .dropdown-menu {
        text-align: left;
        position: absolute;
        display: block;
        box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
        right: 0;
        left: auto;
        top: 100%;
    }
}
//TODO: group with utility classes
.divider {
    border: 1px solid darken($color-header, 20%);
}

//**********HEADER**********

.header {
    align-items: center;
    display: flex;
    padding: 0 5%;
    justify-content: space-between;

    @media (max-width: map-get($screen-sizes, "md")) {
        justify-content: space-around;
    }

    @extend .flex-row;
    box-shadow: $shadow-md;
}

@media (max-width: map-get($screen-sizes, "md")) {
    .header-brand {
        .nav-item {
            max-width: 10rem;
        }
    }
}
