@use '../abstracts/functions' as *;

//Individual colors
//If modified, make sure to modify the map as well
//Button requires the map to generate buttons of each color

$bg-color: #fff !default;
$body-color:set-color($bg-color) !default;

 


$primary: #5E17EB !default;

$secondary: #7A29E3 !default;

$tertiary: #9F67EC !default;

$success: #2dd36f !default;

$warning: #ffc409 !default;

$danger: #eb445a !default;

$medium: #B287F1 !default; 

$light: #E8D9FC !default;

$dark: #3B1568 !default;

$gray: #e5e5e5b0 !default;




$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "success": $success,
    "warning": $warning,
    "danger": $danger,
    "medium": $medium,
    "light": $light,
    "dark": $dark,
    "gray": $gray ) !default;


 